html {
    background-image: url("Lartravera Images/Background.jpg");
    background-size: 50vw auto;
    --s_color: #f8aa02;
    --m_color: #ed6723;
    --kg_color: #d00a29;
    --A_color: #62a92c;
    --K_color: #125daa;
    --mol_color: #ac348d;
    --cd_color: #3f2385;
    --dollar_color: #73ff00;
    --b_color: #538193;
}

body {
    text-align: center;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

.chapter {
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subchapter {
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chapter > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chapter > h2 > * {
    margin: 5px;
}

.chapter_logo {
    height: 150px;
    width: auto;
}

.start_hide {
    display: none;
}

.shadow {
    text-shadow: 0px 0px 4px var(--shadow_color);
}